{% extends 'templates/_base.html' %}

{% block title %}180 Class Bucks{% endblock %}

{% block content %}

{% import 'templates/_figcap.html' as figcap %}

<h1 class="page-title">180 Class</h1>

<div class="image-wrapper mb-3">

    {{ figcap.field('assets/Gallery/harvest2018/IMG_6844.jpg', 'assets/Gallery/harvest2018/IMG_6844s.jpg', 'South Texas Whitetail Trophy buck', 'Cameron Pegoda <br> 187 6/8 B&C Gross <br> 2018') }}
    {{ figcap.field('assets/Gallery/harvest2018/Greg-Boyd-18168.jpg', 'assets/Gallery/harvest2018/Greg-Boyd-18168s.jpg', 'South Texas Whitetail Trophy buck', 'Greg Boyd <br> 181 6/8 B&C Gross <br> 2018') }}
    {{ figcap.field('assets/Gallery/harvest2017/IMG_6482.jpg', 'assets/Gallery/harvest2017/IMG_6482s.jpg', 'South Texas Whitetail Trophy buck', 'John Orsak <br> 180 7/8 B&C Gross <br> 2017') }}
    {{ figcap.field('assets/Gallery/harvest2016/hart18648.jpg', 'assets/Gallery/harvest2016/hart18648s.jpg', 'South Texas Whitetail Trophy buck', ' 186 4/8 B&C Gross <br>2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/MicheleMcCartney18228.jpg', 'assets/Gallery/harvest2016/MicheleMcCartney18228s.jpg', 'South Texas Whitetail Trophy buck', 'Michele McCartney <br> 182 2/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/franklin18918.jpg', 'assets/Gallery/harvest2016/franklin18918s.jpg', 'South Texas Whitetail Trophy buck', 'Jim Franklin <br> 189 1/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/alyssa18348.jpg', 'assets/Gallery/harvest2016/alyssa18348s.jpg', 'South Texas Whitetail Trophy buck', '183 4/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2015/hart18108.jpg', 'assets/Gallery/harvest2015/hart18108s.jpg', 'South Texas Whitetail Trophy buck', ' 181 0/8 B&C Gross <br> 2015 ') }}
    {{ figcap.field('assets/Gallery/harvest2016/Pete-Petrosky-186-78.jpg', 'assets/Gallery/harvest2016/Pete-Petrosky-186-78s.jpg', 'South Texas Whitetail Trophy buck', 'Pete Petrosky <br> 186 7/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2013/alyssa189.jpg', 'assets/Gallery/harvest2013/alyssa189s.jpg', 'South Texas Whitetail Trophy buck', '189 6/8 B&C Gross <br> November 2013') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_3288.jpg', 'assets/Gallery/harvest2011/IMG_3288s.jpg', 'South Texas Whitetail Trophy buck', 'Cullen Spitzer <br> 186 B&C Gross <br> 2011') }}
    {{ figcap.field('assets/Gallery/pre2010/g180-1.jpg', 'assets/Gallery/pre2010/g180-1.jpg', 'South Texas Whitetail Trophy buck', '180 2/8 B&C Gross <br> 2009') }}
    {{ figcap.field('assets/Gallery/pre2010/g180-2.jpg', 'assets/Gallery/pre2010/g180-2.jpg', 'South Texas Whitetail Trophy buck', '181 0/8 B&C Gross <br> 2009 ') }}

</div>

<div class="harvest-links">
    <a href="/200-class.html" class="harvest-link">&lt;-- 200 Class Photos</a>
    <a href="/190-class.html" class="harvest-link">190 Class Photos --&gt;</a>
</div>

{% endblock %}