{% extends 'templates/_base.html' %}

{% block title %}190 Class Bucks{% endblock %}

{% block content %}

{% import 'templates/_figcap.html' as figcap %}

<h1 class="page-title">200 Class</h1>

<div class="image-wrapper mb-3">

    {{ figcap.field('assets/Gallery/harvest2018/ha19578.jpg', 'assets/Gallery/harvest2018/ha19578s.jpg', 'South Texas Whitetail Trophy buck', '195 7/8 B&C Gross <br> 2018') }}
    {{ figcap.field('assets/Gallery/harvest2018/IMG_6812.jpg', 'assets/Gallery/harvest2018/IMG_6812s.jpg', 'South Texas Whitetail Trophy buck', 'Todd Smith <br> 197 6/8 B&C Gross <br> 2018') }}
    {{ figcap.field('assetsGallery/harvest2018/IMG_6850.jpg', 'assets/Gallery/harvest2018/IMG_6850s.jpg', 'South Texas Whitetail Trophy buck', 'James Brown <br> 195 7/8 B&C Gross <br> 2018') }}
    {{ figcap.field('assets/Gallery/harvest2016/offield19648.jpg', 'assets/Gallery/harvest2016/offield19648s.jpg', 'South Texas Whitetail Trophy buck', 'Christian Offield <br> 196 4/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/white19348.jpg', 'assets/Gallery/harvest2016/white19348s.jpg', 'South Texas Whitetail Trophy buck', 'Billy White <br> 193 4/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/mskoruppa19768.jpg', 'assets/Gallery/harvest2016/mskoruppa19768s.jpg', 'South Texas Whitetail Trophy buck', 'Mark Skoruppa <br> 197 6/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/jskoruppa19158.jpg', 'assets/Gallery/harvest2016/jskoruppa19158s.jpg', 'South Texas Whitetail Trophy buck', 'Josh Skoruppa <br> 191 5/8 B&C Gross <br> 2016') }}
    {{ figcap.field('assets/Gallery/harvest2016/alyssa19318.jpg', 'assets/Gallery/harvest2016/alyssa19318s.jpg', 'South Texas Whitetail Trophy buck', '193 1/8 B&C Gross <br> 2015') }}
    {{ figcap.field('assets/Gallery/harvest2013/clintgreen191.jpg', 'assets/Gallery/harvest2013/clintgreen191s.jpg', 'South Texas Whitetail Trophy buck', '191 7/8 B&C Gross <br> 2013 ') }}
    {{ figcap.field('assets/Gallery/harvest2014/javiermedina191.jpg', 'assets/Gallery/harvest2014/javiermedina191s.jpg', 'South Texas Whitetail Trophy buck', '191 6/8 B&C Gross <br> November 2014') }}

</div>

<div class="harvest-links">
    <a href="/180-class.html" class="harvest-link"> &lt;-- 180 Class Photos</a>
    <a href="/200-class.html" class="harvest-link">200 Class Photos --&gt;</a>
</div>

{% endblock %}