{% extends 'templates/_base.html' %}

{% block title %}Camp Photos{% endblock %}

{% block content %}

{% import 'templates/_figcap.html' as figcap %}

<h1 class="page-title mb-1">Camp Photos</h1>

<h2 class="year">2018</h2>

<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/IMG_6959.jpg', 'assets/Gallery/camp/IMG_6959s.jpg', 'Corazon memories') }}
    {{ figcap.field('assets/Gallery/camp/IMG_6952.jpg', 'assets/Gallery/camp/IMG_6952s.jpg', 'Corazon memories') }}
    {{ figcap.field('assets/Gallery/camp/IMG_6875l.jpg', 'assets/Gallery/camp/IMG_6875.jpg', 'Corazon memories') }}

</div>
<h2 class="year">2017</h2>
<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/IMG_6559.jpg', 'assets/Gallery/camp/IMG_6559s.jpg', 'Corazon memories') }}
    {{ figcap.field('assets/Gallery/camp/DSC_0616.jpg', 'assets/Gallery/camp/DSC_0616s.jpg', 'Corazon memories') }}
    {{ figcap.field('assets/Gallery/camp/IMG_6432.jpg', 'assets/Gallery/camp/IMG_6432s.jpg', 'Corazon memories') }}
    {{ figcap.field('assets/Gallery/pre2010/gkids-12.jpg', '/assets/Gallery/pre2010/gkids-12.jpg', 'Corazon memories', '104 7/8 B&amp;C Gross') }}
    
</div>
<h2 class="year">2016</h2>
<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/IMG_6192.jpg', 'assets/Gallery/camp/IMG_6192s.jpg', 'Corazon memories') }}
    {{ figcap.field('assets/Gallery/camp/camp1130.jpg', 'assets/Gallery/camp/camp1130s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2016/franklin14828.jpg', 'assets/Gallery/harvest2016/franklin14828s.jpg', 'Corazon memories', 'Bobby Franklin <br> 148 2/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/harvest2016/brown14818.jpg', 'assets/Gallery/harvest2016/brown14818s.jpg', 'Corazon memories', 'James Brown <br> 148 1/8 B&amp;C Gross ') }}


</div>
<h2 class="year">2015</h2>
<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/IMG_5544.jpg', 'assets/Gallery/camp/IMG_5544s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/kellyandkj.jpg', 'assets/Gallery/camp/kellyandkjs.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2016/IMG_5605.jpg', 'assets/Gallery/harvest2016/IMG_5605s.jpg', 'South Texas Whitetail Trophy Buck', 'Alan Gray <br> 159 0/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/harvest2015/IMG_0941.jpg', 'assets/Gallery/harvest2015/IMG_0941s.jpg', 'South Texas Whitetail Trophy Buck', 'Gregg Wingert <br> 159 1/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/harvest2015/tbugg.jpg', 'assets/Gallery/harvest2015/tbuggs.jpg', 'South Texas Whitetail Trophy Buck', 'Tanner Bugg <br> 161 4/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/pre2010/fkids-17.jpg', 'assets/Gallery/pre2010/fkids-17.jpg', 'Corazon memories', '134 4/8 B&amp;C Gross') }}


</div>
<h2 class="year">2014</h2>
<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/camp2013set1-1.jpg', 'assets/Gallery/camp/camp2013set1-1s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/IMG_5107l.jpg', 'assets/Gallery/camp/IMG_5107.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/IMG_4780l.jpg', 'assets/Gallery/camp/IMG_4780.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2014/IMG_4773l.jpg', 'assets/Gallery/harvest2014/IMG_4773.jpg', 'South Texas Whitetail Trophy Buck', 'David Gaspard <br> 158 4/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/harvest2014/IMG_5195.jpg', 'assets/Gallery/harvest2014/IMG_5195s.jpg', 'South Texas Whitetail Trophy Buck', 'James Brown <br> 171 4/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/camp/camp2013-3.jpg', 'assets/Gallery/camp/camp2013-3s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2014/colt.jpg', 'assets/Gallery/harvest2014/colts.jpg', 'South Texas Whitetail Trophy Buck', 'Colton McCartney <br> 142 6/8 B&amp;C Gross') }}

</div>
<h2 class="year">2013</h2>
<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/camp2013-1.jpg', 'assets/Gallery/camp/camp2013-1s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/camp2013-willie.jpg', 'assets/Gallery/camp/camp2013-willies.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/camp2013set1-2.jpg', 'assets/Gallery/camp/camp2013set1-2s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/camp2013set1-3.jpg', 'assets/Gallery/camp/camp2013set1-3s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/alyssalarge.jpg', 'assets/Gallery/camp/alyssa.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/camp2013-4.jpg', 'assets/Gallery/camp/camp2013-4s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/IMG_4618.jpg', 'assets/Gallery/camp/IMG_4618s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/camp2013-2.jpg', 'assets/Gallery/camp/camp2013-2s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/campphoto2menwithfishlarge.jpg', 'assets/Gallery/camp/campphoto2menwithfish.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2013/danielrisinger169.jpg', 'assets/Gallery/harvest2013/danielrisinger169s.jpg', 'South Texas Whitetail Trophy Buck', 'Daniel Risinger <br> 169 1/8  B&amp;C Gross') }}

</div>
<h2 class="year">2012</h2>
<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/camp/IMG_3828.jpg', 'assets/Gallery/camp/IMG_3828s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/IMG_3804.jpg', 'assets/Gallery/camp/IMG_3804s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/camp/memories.jpg', 'assets/Gallery/camp/memoriess.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2012/alysa.jpg', 'assets/Gallery/harvest2012/alysas.jpg', 'South Texas Whitetail Trophy Buck', '141 2/8 B&amp;C Gross') }}

</div>
<h2 class="year">2011</h2>

<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/harvest2011/IMG_3317.jpg', 'assets/Gallery/harvest2011/IMG_3317s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_2894.jpg', 'assets/Gallery/harvest2011/IMG_2894s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_3045.jpg', 'assets/Gallery/harvest2011/IMG_3045s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_2947.jpg', 'assets/Gallery/harvest2011/IMG_2947s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_2892.jpg', 'assets/Gallery/harvest2011/IMG_2892s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_2955.jpg', 'assets/Gallery/harvest2011/IMG_2955s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_2942.jpg', 'assets/Gallery/harvest2011/IMG_2942s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/harvest2011/IMG_3479.jpg', 'assets/Gallery/harvest2011/IMG_3479s.jpg', 'South Texas Whitetail Trophy Buck') }}
    {{ figcap.field('assets/Gallery/pre2010/gkids-13.jpg', 'assets/Gallery/pre2010/gkids-13.jpg', 'South Texas Whitetail Trophy Buck', '114 7/8 B&amp;C Gross') }}

</div>

<h2 class="year">2010 and before</h2>

<div class="image-wrapper">

    {{ figcap.field('assets/Gallery/harvest2010/IMG_2384l.jpg', 'assets/Gallery/harvest2010/IMG_2384.jpg', 'South Texas Whitetail Trophy Buck', ' 147 6/8 B&amp;C Gross 2010') }}
    {{ figcap.field('assets/Gallery/harvest2010/l2230.jpg', 'assets/Gallery/harvest2010/l2230s.jpg', 'South Texas Whitetail Trophy Buck', '147 6/8 B&amp;C Gross 2010') }}
    {{ figcap.field('assets//Gallery/pre2010/g180-2.jpg', 'assets/Gallery/pre2010/g180-2.jpg', 'South Texas Whitetail Trophy Buck', '181 0/8 B&amp;C Gross 2009 ') }}
    {{ figcap.field('assets/Gallery/pre2010/g150-21.jpg', 'assets/Gallery/pre2010/g150-21.jpg', 'South Texas Whitetail Trophy Buck', 'Bobby Franklin <br> 155 1/8 B&amp;C Gross 2009') }}
    {{ figcap.field('assets/Gallery/pre2010/g140-16.jpg', 'assets/Gallery/pre2010/g140-16.jpg', 'South Texas Whitetail Trophy Buck', 'Jim Marsh <br> 143 6/8 B&amp;C Gross 2008') }}
    {{ figcap.field('assets/Gallery/pre2010/g150-17.jpg', 'assets/Gallery/pre2010/g150-17.jpg', 'South Texas Whitetail Trophy Buck', 'Cullen Spitzer <br> 159 1/8 B&amp;C Gross 2008') }}
    {{ figcap.field('assets/Gallery/pre2010/gkids-6.jpg', 'assets/Gallery/pre2010/gkids-6.jpg', 'South Texas Whitetail Trophy Buck', 'December 2007') }}
    {{ figcap.field('assets/Gallery/pre2010/g140-4.jpg', 'assets/Gallery/pre2010/g140-4.jpg', 'South Texas Whitetail Trophy Buck', '149 6/8 B&amp;C Gross <br> October 2006') }}
    {{ figcap.field('assets/Gallery/pre2010/g170-2.jpg', 'assets/Gallery/pre2010/g170-2.jpg', 'South Texas Whitetail Trophy Buck', '173 5/8 B&amp;C Gross <br> December 2006') }}
    {{ figcap.field('assets/Gallery/pre2010/gkids-14.jpg', 'assets/Gallery/pre2010/gkids-14.jpg', 'South Texas Whitetail Trophy Buck', '128 7/8 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/pre2010/g160-1.jpg', 'assets/Gallery/pre2010/g160-1.jpg', 'South Texas Whitetail Trophy Buck', '167 B&amp;C Gross') }}
    {{ figcap.field('assets/Gallery/pre2010/g140-3.jpg', 'assets/Gallery/pre2010/g140-3.jpg', 'South Texas Whitetail Trophy Buck', '146 3/8 B&amp;C Gross <br> December 2005') }}
    {{ figcap.field('assets/Gallery/pre2010/g140-2.jpg', 'assets/Gallery/pre2010/g140-2.jpg', 'South Texas Whitetail Trophy Buck', '148 3/8 B&amp;C Gross') }}
    



</div>

{% endblock %}