{% extends 'templates/_base.html' %}

{% block title %}DMP Bucks{% endblock %}

{% block content %}

{% import 'templates/_figcap.html' as figcap %}

<h1 class="page-title">DMP Bucks</h1>

<div class="image-wrapper">

    {{ figcap.field('assets/dmp/IMG_6713.jpg', 'assets/dmp/IMG_6713s.jpg', 'South Texas Whitetail Trophy Buck', '7 yr old 271 4/8 B&amp;C DMP <br> 2017, 2018')}}
    {{ figcap.field('assets/dmp/IMG_6789.jpg', 'assets/dmp/IMG_6789s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr old 257 2/8 B&amp;C DMP <br> 2016,2018')}}
    {{ figcap.field('assets/dmp/IMG_6674.jpg','assets/dmp/IMG_6674s.jpg','South Texas Whitetail Trophy Buck','7yr old 252 3/8 B&amp;C DMP <br> 2016, 2017, 2018') }}
    {{ figcap.field('assets/dmp/2017-09-07-19-36-41-M-2_3.jpg', 'assets/dmp/2017-09-07-19-36-41-M-2_3s.jpg', 'South Texas Whitetail Trophy Buck', '7 yr old 245 2/8 B&amp;C DMP<br> 2015, 2016, 2017, 2018')}}
    {{ figcap.field('assets/dmp/IMG_6331.jpg', 'assets/dmp/IMG_6331s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr old 233 6/8 B&amp;C DMP&nbsp;<br> 2016, 2017, 2018')}}
    {{ figcap.field('assets/dmp/IMG_6738.jpg', 'assets/dmp/IMG_6738s.jpg', 'South Texas Whitetail Trophy Buck', '5 yr old 231 B&amp;C DMP<br> 2016, 2017, &amp; 2018')}}
    {{ figcap.field('assets/dmp/IMG_6671.jpg', 'assets/dmp/IMG_6671s.jpg', 'South Texas Whitetail Trophy Buck', '4 yr old 210 1/8 B&amp;C DMP<br> 2018')}}
    {{ figcap.field('assets/dmp/IMG_6747.jpg', 'assets/dmp/IMG_6747s.jpg', 'South Texas Whitetail Trophy Buck', '4 yr 210 1/8<br> 2018')}}
    {{ figcap.field('assets/dmp/IMG_6405.jpg', 'assets/dmp/IMG_6405s.jpg', 'South Texas Whitetail Trophy Buck', '7 yr old 202 6/8 B&amp;C DMP<br> 2015, 2016, 2017')}}
    {{ figcap.field('assets/dmp/IMG_6310.jpg', 'assets/dmp/IMG_6310s.jpg', 'South Texas Whitetail Trophy Buck', '5 yr old 201 7/8 B&amp;C DMP<br> 2017, 2018')}}
    {{ figcap.field('assets/dmp/IMG_6827.jpg', 'assets/dmp/IMG_6827s.jpg', 'South Texas Whitetail Trophy Buck', '4 yr old 200 7/8 B&amp;C DMP<br> 2018')}}

    {{ figcap.field('assets/dmp/dmp201622558.jpg', 'assets/dmp/dmp201622558s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr 225 5/8 B&amp;C DMP<br> 2015, 2016, 2017')}}
    {{ figcap.field('assets/dmp/dmp20968.jpg', 'assets/dmp/dmp20968s.jpg', 'South Texas Whitetail Trophy Buck', '7 yr old 209 6/8 B&amp;C DMP<br> 2015, 2016, 2017')}}
    {{ figcap.field('assets/dmp/dmp20938.jpg', 'assets/dmp/dmp20938s.jpg', 'South Texas Whitetail Trophy Buck', '8 yr old 209 3/8 B&amp;C DMP<br> 2014, 2015, 2016, 2017')}}
    {{ figcap.field('assets/dmp/dmp20348.jpg', 'assets/dmp/dmp20348s.jpg', 'South Texas Whitetail Trophy Buck', '8 yr old 203 4/8 B&amp;C DMP<br> 2012, 2013, 2014, 2016, 2017')}}
    {{ figcap.field('assets/dmp/IMG_6325.jpg', 'assets/dmp/IMG_6325s.jpg', 'South Texas Whitetail Trophy Buck', '3 yr old 200 B&amp;C DMP<br> 2017')}}
    {{ figcap.field('assets/dmp/IMG_6306.jpg', 'assets/dmp/IMG_6306s.jpg', 'South Texas Whitetail Trophy Buck', '5 yr 193 3/8 B&amp;C DMP<br> 2017')}}

    {{ figcap.field('assets/dmp/dmp21948.jpg', 'assets/dmp/dmp21948s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr old 228 5/8 B&amp;C DMP<br> 2015, 2016')}}
    {{ figcap.field('assets/dmp/dmp20658.jpg', 'assets/dmp/dmp20658s.jpg', 'South Texas Whitetail Trophy Buck', '4 yr old 206 5/8 B&amp;C DMP<br> 2016')}}
    {{ figcap.field('assets/dmp/dmp18878.jpg', 'assets/dmp/dmp18878s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr old 188 7/8 B&amp;C DMP<br> 2014, 2016')}}
    {{ figcap.field('assets/dmp/dmp18018.jpg', 'assets/dmp/dmp18018s.jpg', 'South Texas Whitetail Trophy Buck', '5 yr old 180 1/8 B&amp;C DMP<br> 2016')}}

    {{ figcap.field('assets/dmp/dmp2013-221lg.jpg', 'assets/dmp/dmp2013-221.jpg', 'South Texas Whitetail Trophy Buck', '7 yr old 221 0/8 B&amp;C DMP<br> 2013, 2014')}}
    {{ figcap.field('assets/dmp/IMG_0101-2.jpg', 'assets/dmp/IMG_0101-2s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr&nbsp; 203 0/8 B&amp;C DMP <br> 2014<br>')}}
    {{ figcap.field('assets/dmp/IMG_0084-2.jpg', 'assets/dmp/IMG_0084-2s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr old 193 1/8 B&amp;C DMP<br> 2012, 2014')}}
    {{ figcap.field('assets/dmp/IMG_0021-2.jpg', 'assets/dmp/IMG_0021-2s.jpg', 'South Texas Whitetail Trophy Buck', '3 yr old 190 6/8 B&amp;C DMP<br> 2014<br>')}}
    {{ figcap.field('assets/dmp/IMG_0010.jpg', 'assets/dmp/IMG_0010s.jpg', 'South Texas Whitetail Trophy Buck', '7 yr old 189 6/8<br> 2011, 2012, 2013, 2014<br>')}}
    {{ figcap.field('assets/dmp/IMG_0417.jpg', 'assets/dmp/IMG_0417s.jpg', 'South Texas Whitetail Trophy Buck', '6 yr old 189 1/8 B&amp;C DMP<br> 2012, 2013, 2014<br>')}}
    {{ figcap.field('assets/dmp/IMG_1290.jpg', 'assets/dmp/IMG_1290s.jpg', 'South Texas Whitetail Trophy Buck', '4 yr&nbsp; 186 5/8 B&amp;C DMP <br> 2014')}}
    {{ figcap.field('assets/dmp/IMG_0419.jpg', 'assets/dmp/IMG_0419s.jpg', 'DMP Pens 2011', '21 DMP Pens<br> 2014')}}

    {{ figcap.field('assets/dmp/dmp2013-195.jpg', 'assets/dmp/dmp2013-195sm.jpg', 'South Texas Whitetail Trophy Buck', '4 yr old 195 2/8 B&amp;C DMP<br> 2013<br>')}}
    {{ figcap.field('assets/dmp/dmp2013-157.jpg', 'assets/dmp/dmp2013-157sm.jpg', 'South Texas Whitetail Trophy Buck', '3 yr old 157 6/8 B&amp;C DMP<br> 2013')}}

    {{ figcap.field('assets/dmp/dmp2013-189.jpg', 'assets/dmp/dmp2013-189sm.jpg', 'South Texas Whitetail Trophy Buck', '5 yr old 189 6/8 B&amp;C DMP<br> 2011, 2012')}}
    {{ figcap.field('assets/Gallery/future2012/IMG_1449.jpg', 'assets/Gallery/future2012/IMG_1449s.jpg', 'South Texas Whitetail Trophy Buck', '5 yr old 181 1/8 B&amp;C DMP<br> 2012')}}

    {{ figcap.field('assets/dmp/dmp2013-190.jpg', 'assets/dmp/dmp2013-190sm.jpg', 'South Texas Whitetail Trophy Buck', '190 B&amp;C DMP<br> 2009, 2010, 2011<br>')}}
    {{ figcap.field('assets/dmp/IMG_1170.jpg', 'assets/dmp/IMG_1170s.jpg', 'South Texas Whitetail Trophy Buck', '189 B&amp;C 4 yr old  DMP<br> 2009, 2010, 2011')}}
    {{ figcap.field('assets/Gallery/future2011/IMG_0341n.jpg', 'assets/Gallery/future2011/IMG_0341ns.jpg', 'DMP Pens 2011', '4 yr old 184 6/8 B&amp;C DMP<br> 2011')}}
    {{ figcap.field('assets/dmp/dmp_0085.jpg', 'assets/dmp/dmp_0085s.jpg', 'South Texas Whitetail Trophy Buck', '179 4/8 B&amp;C DMP<br> 2010, 2011')}}
    {{ figcap.field('assets/dmp/l_0362.jpg', 'assets/dmp/IMG_0362.jpg', 'South Texas Whitetail Trophy Buck', '177 5/8 B&amp;C 3 yr old DMP<br> 2010')}}
    {{ figcap.field('assets/Gallery/future2011/IMG_3847n.jpg', 'assets/Gallery/future2011/IMG_3847ns.jpg', 'DMP Buck 2011', '4 yr old 177 2/8 B&amp;C DMP<br> 2011<br>')}}

    {{ figcap.field('assets/dmp/l_0414.jpg', 'assets/dmp/IMG_0414.jpg', 'South Texas Whitetail Trophy Buck', '202 4/8 B&amp;C DMP \'09')}}
    {{ figcap.field('assets/dmp/l_1662.jpg', 'assets/dmp/IMG_1662.jpg', 'South Texas Whitetail Trophy Buck', '198 B&amp;C DMP \'08')}}
    {{ figcap.field('assets/dmp/l_0320.jpg', 'assets/dmp/IMG_0320.jpg', 'South Texas Whitetail Trophy Buck', '187 B&amp;C DMP \'05, \'06, \'07')}}
    {{ figcap.field('assets/dmp/l_2160.jpg', 'assets/dmp/IMG_2160.jpg', 'South Texas Whitetail Trophy Buck', '186 B&amp;C DMP \'08, \'09' )}}
    {{ figcap.field('assets/dmp/l_1235.jpg', 'assets/dmp/IMG_1235.jpg', 'South Texas Whitetail Trophy Buck', '183 B&amp;C DMP \'07')}}
    {{ figcap.field('assets/dmp/l_2206.jpg', 'assets/dmp/IMG_2206.jpg', 'South Texas Whitetail Trophy Buck', '181 B&amp;C DMP \'06, \'07, \'08, \'09')}}
    {{ figcap.field('assets/dmp/l_1226.jpg', 'assets/dmp/IMG_1226.jpg', 'South Texas Whitetail Trophy Buck', '181 B&amp;C DMP \'07, \'08')}}
    {{ figcap.field('assets/dmp/l_1224.jpg', 'assets/dmp/IMG_1224.jpg', 'South Texas Whitetail Trophy Buck', '178 B&amp;C DMP \'07, \'08')}}
    {{ figcap.field('assets/dmp/l_0558.jpg', 'assets/dmp/IMG_0558.jpg', 'South Texas Whitetail Trophy Buck', '175 B&amp;C DMP \'03, \'04')}}
    {{ figcap.field('assets/dmp/l_2125.jpg', 'assets/dmp/IMG_2125.jpg', 'South Texas Whitetail Trophy Buck', '173 B&amp;C 4 yr old DMP \'09')}}


</div>

{% endblock %}