{% extends 'templates/_base.html' %}

{% block css %}

<link rel="stylesheet" href="css/slippry.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}

{% block content %}

{% import 'templates/_figcap.html' as figcap %}

<div class="slider-wrapper">

    <ul id="home-slider">
        <li><a href="#slide1"><img alt="Corazon Ranch Gate" src="assets/slides/DSC_0617.jpg"></a></li>
        <li><img alt="Slide Alt Text" src="assets/slides/DSC_0620.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/DSC_0616.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/DSC_0604.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/Big-Noche.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/buc-ees.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/Duck-Lake.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_1399.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_2894.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_2942.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_2947.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_2955.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_3045.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/land4.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_3495.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_3804.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/IMG_3696.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/alyssa.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/proteinfeeders2014.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/camp2013set1-1.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/camp2013set1-2.jpg"></li>
        <li><img alt="Slide Alt Text" src="assets/slides/family2014.jpg"></li>
    </ul>

    <div class="slider-controls">
        <button id="slider-stop" class="slider-control slider-start fas fa-pause" aria-label="pause" type="button" role="button"></button>
        <button id="slider-start" class="slider-control slider-stop fas fa-play" aria-label="play" type="button" role="button"></button>
    </div>

</div>

{% endblock %}

{% block js %}

<script src="js/slippry.min.js"></script>
<script src="js/slider.js"></script>

{% endblock %}