.header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $bg-primary;

    @media screen and (min-width: $break-md) {
        flex-direction: column;
    }

    @media screen and (min-width: $break-lg) {
        flex-direction: row;
    }


}

.header__header {
    padding-top: 1em;
    padding-left: 1em;

    text-align: center;

    @media screen and (min-width: $break-lg) {
        text-align: left;
    }

}

.header__title {
    font-size: 4em;
    font-family: 'MesquiteStd', 'Times New Roman', Times, serif;
    margin-bottom: 2em;
}

.header__tagline {
    font-size: 2em;
    font-family: 'NuevaStdBold', 'Times New Roman', Times, serif;
}

.header__img {
    height: 100%;
    margin-bottom: 1em;

    @media screen and (min-width: $break-lg) {
        margin-left: auto;
        margin-bottom: 0em;
    }

}

