$overlay-color: rgba(10,10,10,0.75);


.lightbox__overlay {
    width: 100vw;
    height: 100vh;
    background-color: $overlay-color;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.lightbox__modal {
    background-color: $bg-content;
    padding: 1em;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.lightbox__figure {

}

.lightbox__controls {
    display: flex;
}

.lightbox__button {
    margin-left: auto;
}